<html itemscope itemtype="http://schema.org/Article">
<head>


    <link href="/css/bootstrap.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="/myCss/my.css" />
    <script src="/js/bootstrap.min.js"></script>
    <script src="Js/jquery.min.js"></script>
    <!-- Continuing the <head> section -->

</head>
<body>
<!-- ... -->
</body>
<!------ Include the above in your HEAD tag ---------->
</head>
<body id="LoginForm">
<div class="container">
    <h1 class="form-heading">Sign up</h1>
    <div class="login-form">
        <div class="main-div">
            <div class="panel">
                <h2>Sign up Form</h2>
                <p>Please enter  email and password</p>
            </div>
            <form method="POST" action="/users" id="signup">

                <div class="form-group">


                    <!-- <input type="email" class="form-control" id="inputEmail" placeholder="Email Address"> -->
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email Address">


                </div>

                <div class="form-group">

                    <!-- <input type="password" class="form-control" id="inputPassword" placeholder="Password"> -->
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password">


                </div>

                <div class="form-group">

                    <!-- <input type="password" class="form-control" id="inputPassword" placeholder="Password"> -->
                    <input type="password" class="form-control" name="passwordConfirm" id="passwordConfirm" placeholder="Confirm Password">


                </div>

                <div class="forgot">
                    <!-- <a href="reset.html">Forgot password?</a> -->
                </div>
                <button type="submit"  class="btn btn-primary">Sign Up</button>

            </form>

            <form  action="/about">
                <button type="submit"  class="btn btn-primary">Already have an account</button>
            </form>
        </div>
        <p class="botto-text"> Designed by V Van Gogh</p>
    </div></div></div>

<!-- Last part of BODY element in file index.html -->


</body>
</html>
